<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Intruder Alarm Page</title>
    <H1>
        Home Camera Feed
    </H1>
</head>
<body>
<p><b>For the purposes of this demo:</b> We programmed the computer's webcame to take an image for demonstration. In a production setting, this webapp would be connected to live-streaming video processing samples at regular intervals. </p>
<p>If the people in this image are not Ben, Steve, Aaron, or Danny, we will get a text saying that there is an intruder in your home </p>
<p><b>Try this demo with the button below!</b></p>

<form  method="POST">
  {# This hidden_tag is a CSRF security feature. #}
  {{ image_form.hidden_tag() }}
  {{ image_form.take_image_selection.label}}<br>{{image_form.take_image_selection}}
  <br>
    {{ image_form.submit() }}
</form>
<button onclick="goBack()">Go Back</button>

</body>
<script>
function goBack() {
    window.history.back();
}
</html>
